body {
  /*Текст*/
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  /*Фон*/
  background-color: #ffffff;
  margin-left: 40px;
  margin-right: 40px;
  min-width: 1200px;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.navigation {
  /*Текст*/
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: normal;

  /*Фон*/
  list-style: none;
}

.nav-item {
  line-height: 26px;
  font-family: inherit;
  font-weight: 700;
}

.nav-item-current {
  color: #766357;
  text-decoration: none;
}

.nav-item:not(.nav-item-current) {
  text-decoration: none;
  color: #000000;
}

.nav-item:hover:not(.nav-item-current) {
  color: #81b3d2;
}

.nav-item:active:not(.nav-item-current) {
  color: rgba(0, 0, 0, 0.3);
}

.features {
  /*Текст*/
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.features-blue {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 21px;
}

.thesis {
  /*Текст*/
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 21px;
  margin-bottom: 0;
}

.bluestyle {
  /*Текст*/
  color: #ffffff;
 /*Фон*/
  background-color: #81b3d2;
}

.list-features {
  list-style: none;
}

.find-title {
  /*Текст*/
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 33px;
  padding-top: 31px;
  /*Фон*/
  background-color: #766357;
  min-width: 568px;
  border: none;
}

.find-title:hover {
  background-color: #604e43;
}

.find-title:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.find {
  /*Текст*/
  font-size: 21px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  /*Фон*/
  background-color: #81b3d2;
  transition: all 0.5s linear;
}

.find:hover {
  background-color: #669ec0;
}

.find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.find-hotel:not(.find) {
  font-size: 14px;
  font-weight: bold;
}

.intrest {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  margin-bottom: 25px;
}

.book {
  display: inline-block;
  min-height: 27px;
  width: 142px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  margin-right: 0;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 30px;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.detail {
  display: inline-block;
  width: 110px;
  min-height: 27px;
  /*Текст*/
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  /*Фон*/
  background-color: #81b3d2;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filters {
  background-color: #604e43;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position-y: -250px;

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.filters button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.name-hotel {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-align: left;
}

.name-hotel:link {
  color: #766357;
}

.name-hotel:hover {
  color: #81b3d2;
}

.name-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.we-find {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  margin-right: 49px;
}

.sort {
  list-style: none;
}

.sort-title {
  font-size: 12px;
}

.sort a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: dotted;
}

.sort a:visited {
  border-bottom: none;
  color: #81b3d2;
}

.sort a:hover {
  color: #81b3d2;
}

.sort a:active {
  border-bottom: none;
  color: #000000;
}

.star1::after {
  position: absolute;
  content: "";
  width: 72px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  background-repeat: repeat-x;
  bottom: 82px;
  right: 10px;
}

.star2::after {
  position: absolute;
  content: "";
  width: 54px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  background-repeat: repeat-x;
  bottom: 82px;
  right: 10px;
}

.star3::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  background-repeat: repeat-x;
  bottom: 82px;
  right: 10px;
}

.choice-hotel {
  list-style: none;
}

.little-goods {
  list-style: none;
  background-color: #ffffff;
  color: #333333;
  font-size: 12px;
}

.little-goods h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.field:hover {
  background-color: #ebebeb;
}

.field:focus {
  background-color: #ffffff;
}

.list-features {
  counter-reset: heading;
}

.feature-main::before {
  counter-increment: heading;
  content: "— №" counter(heading) "—";
  display: block;
  margin-bottom: 20px;
  margin-top: 13px;
}


html {
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.head-navigavion {
  padding: 0;
  margin: 0;
}

.navigation {
  margin-left: 72px;
  margin-right: 72px;
}
.navigation li {
  width: 239px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation li:first-child {
  text-align: left;
}

.navigation li:nth-child(2) {
  margin-right: 98px;
  text-align: left;
  margin-left: 5px;
}

.navigation li:nth-child(3) {
  text-align: right;
  margin-right: 6px;
}

.navigation li:last-child {
  text-align: right;
}

.welcome {
  margin-top: 76px;
  margin-left: 370px;
  margin-right: 370px;
  margin-bottom: 62px;
}
.backphoto {
  position: relative;
  width: 1200px;
  background-color: #4e768f;
  background-image: url(../img/background-photo.jpg);
  background-position-y: -86px;
  z-index: 1;
  min-height: 509px;
}

.list-features {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list-features1 div:first-child {
  display: flex;
}

.little-goods {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 56px;
  margin-bottom: 65px;
}
.little-goods li {
  width: 400px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bluestyle {
  display: flex;
  flex-direction: column;
}
.list-features2 {
  display: flex;
}

.footer {
  display: flex;
  width: 1200px;
  padding: 0;
  align-items: baseline;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

.filters {
  display: flex;
  width: 1200px;
  align-items: flex-start;
}

.filters fieldset {
  margin-top: 60px;
  margin-bottom: 60px;
  border: none;
}

.filters fieldset:nth-child(2) {
  margin-right: 244px;
}

.filters fieldset:first-child {
  margin-left: 72px;
}

.sort-find {
  display: flex;
  align-items: baseline;
  margin-left: 72px;
}

.sort {
  display: flex;
  align-items: baseline;
}

.sort li:nth-child(2) {
  margin-right: 33px;
  margin-left: 33px;
}

.choice-hotel {
  min-width: 1200px;
  padding: 0;
  margin: 0;
}

.filters {
  padding: 0;
  margin: 0;
}

.hotel-detail {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
  margin-top: 25px;
  margin-right: 522px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotel {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  border-top: #f2f2f2 solid 1px;
}
.hotel:last-child {
  border-bottom: #f2f2f2 solid 1px;
}
.hotel-img {
  margin-left: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.head-name-hotel {
  margin: 0;
  margin-bottom: 10px;
}

.stars {
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
  padding-top: 10px;
  position: relative;
  align-self: flex-end;
  margin-bottom: 30px;
}

.media-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  list-style: none;
  padding: 0;
}

.media-items .media-list:nth-child(2n) {
  margin-left: 9px;
  margin-right: 9px;
}
.media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.media:hover {
  background-color: #669ec0;
}

.media:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.media:active svg {
  opacity: 0.5;
}

.header-logo {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.logo {
  position: absolute;
  z-index: 2;

  left: 529px;
}
.article-index {
  margin: 0;
  padding: 0;
}

.main-index {
  margin: 0;
  padding: 0;
}
.better {
  font-family: inherit;
  line-height: 1.24;
  margin-bottom: 28px;
  margin-top: 56px;
  padding-right: 380px;
  padding-left: 380px;
}

.lets-see {
  margin-bottom: 51px;
  line-height: 1.86;
}

.list-features345 {
  width: 400px;
  margin-top: 32px;
}

.find-hotel-form {
  display: flex;
  border: none;
  flex-wrap: wrap;
  justify-content: center;
}

.field-date1 {/*Инпут дата заезда, форма, главная*/
  padding-left: 12px;
  margin-left: 21px;
  padding-top: 12px;
  padding-bottom: 10px;
  width: 335px;
}

.field-date2 {/*Инпут дата выезда, форма, главная*/
  padding-left: 12px;
  margin-left: 21px;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 335px;
}


.calender1 {/*Кнопка-календарь, дата заезда, форма, главная*/
  position: relative;
  right: 40px;
}

.calender2 {/*Кнопка-календарь, дата выезда, форма, главная*/
  position: relative;
  right: 40px;
}


.hotel-form-item { 
  display: flex;
  border: none;
}

.find-hotel-sedona {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 568px;
  padding: 0;
  border: none;
  z-index: 2;
}

.find-hotel {
  position: absolute;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  width: 568px;
  display: none;
  transform: translateY(-100%);
}

.find-hotel.js-not {
  transform: translateY(0);
  display: block;
}

.find {
  min-width: 458px;
  align-self: center;
  border: none;
  padding-bottom: 22px;
  padding-top: 14px;
  margin-bottom: 40px;
  margin-top: 43px;
}

.hotel-form-item input { /*Все инпуты в форме на главной*/
  border:none;
}

.hotel-form-item button { /*Все кнопки в форме на главной*/
  border: none;
}



.hotel-form-item:first-child {
  align-self: center;
}

.hotel-form-item:nth-child(2n) {
  align-self: center;
}

.web-by {
  padding: 0;
  text-align: center;
  font-family: inherit;
  line-height: 26px;
  font-size: 14px;
  margin-right: 10px;
}

.visitsedona {
  width: 400px;
}

.price-range-filter {
  color: #ffffff;
  width: 314px;
  margin-top: 31px;
}

.price-range-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 9px;
}

.price-control {
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 0;
  position: relative;
}

.price-control::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-control label {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
}

.price-control .price-min {
  width: 90px;
  padding-left: 65px;
}

.price-control .price-max {
  width: 90px;
  padding-left: 65px;
}

.price-control input {
  margin: 0;
  width: 50px;
  background: none;
  border: none;
  font: inherit;
  color: #ffffff;
}

.range-control {
  position: relative;
  margin-bottom: 32px;
}

.range-control .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-control .rod {
  background: #ffffff;
  width: 232px;
  height: 2px;
}

.range-scroll {
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -9px;
  transition: all 0.5s ease;
}

.range-scroll:hover {
  transform: scale(1.1);
}
.scroll-min {
  left: -10px;
}

.scroll-max {
  left: 226px;
}

.show-me {
  display: block;
  margin: auto;
  margin-top: 34px;
  padding: 6px 35px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.show-me:hover {
  background-color: #ffffff;
  color: #000000;
}
.logohtml path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}
.logohtml {
  width: 115px;
  height: 41px;
  transition: all 0.5s ease;
  margin-top: 5px;
}

.logohtml:hover {
  fill: #81b3d2;
}

.logohtml:active {
  fill: #bdbbbc;
}

.calender {
  fill: #cacaca;
}

.calender:hover {
  fill: #000000;
}

.calender:active {
  fill: #81b3d2;
}

.find-hotel input {
  background-color: #f2f2f2;
}

.find-hotel input::-moz-placeholder {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-align: left;
  opacity: 1;
  font-family: inherit;
}

.find-hotel input::-ms-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-align: left;
  opacity: 1;
  font-family: inherit;
}

.find-hotel input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-align: left;
  opacity: 1;
  font-family: inherit;
}

.find-hotel input::placeholder {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-align: left;
  opacity: 1;
  font-family: inherit;
}

.datein { /*Дата заезда, форма , главная*/
  padding-top: 13px;
  margin-left: 40px;
}

.dateon { /*Дата выезда, форма, главная */
  margin-left: 40px;
  padding-top: 14px;
}

.grounup {
  margin-right: 41px;
  padding-top: 12px;
}

.child {
  margin-right: 27px;
  margin-left: 53px;
  padding-top: 12px;
}

.field-max-min {
  width: 22px;
}

.plus {
  min-width: 38px;
  font-weight: bold;
  color: #cacaca;
  font-size: 20px;
}

.plus:hover {
  color: #000000;
}

.plus:active {
  color: #81b3d2;
}
.minus {
  min-width: 38px;
  font-weight: bold;
  color: #cacaca;
  font-size: 20px;
}

.minus:hover {
  color: #000000;
}

.minus:active {
  color: #81b3d2;
}

.hotel-form-item:first-child {
  margin-top: 48px;
}

.footer-index {
  position: relative;
  margin-top: -125px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  padding-top: 21px;
}

.up-down {
  margin-left: 504px;
}

.tir path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.tir {
  fill: #cacaca;
}

.tir:hover {
  fill: #000000;
}

.tir:active {
  fill: #81b3d2;
}

.hotel-price {
  display: flex;
}

.backphoto::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 59px;
  background-image: url("../img/intro-mask.svg");
  background-size: 1200px 59px;
  background-repeat: no-repeat;
  bottom: -2px;
  left: 0;
}

.filter-checkbox {
  display: none;
}

.label-checkbox::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  right: 16px;
  bottom: -8px;
}

.filter-checkbox:checked + .label-checkbox::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:disabled + .label-checkbox::before {
  background-image: url("../img/checkbox-offdis.svg");
}

.filter-checkbox:checked:disabled + .label-checkbox::before {
  background-image: url("../img/checkbox-ondis.svg");
}

.bluestyle1 {
  padding-top: 28px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.bluestyle2 {
  padding-top: 28px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 43px;
}

@keyframes go-go {
  to {
    transform: translateY(0);
  }
}

.show-must-go-on {
  display: block;
  animation-name: go-go;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.img-map {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.iframe {
  position: absolute;
  left: 0;
  top: 0;
}

.form-box {
  width: 568px;
  min-height: 395px;
  position: absolute;
  overflow: hidden;
}

/*.home img {
  margin-top: 3px;
}

.food img {
  margin-top: 3px;
}*/



.suvenirs h3 {
  margin-top: 29px;
  margin-bottom: 11px;
}

.home h3 {
  margin-top: 30px;
  margin-bottom: 11px;
}

.food h3 {
  margin-top: 32px;
  margin-bottom: 11px;
}

.home p {
  padding-left: 65px;
  padding-right: 66px;
  line-height: 21px;
}

.food p {
  padding-left: 52px;
  padding-right: 50px;
  line-height: 21px;
}

.suvenirs p {
  padding-left: 61px;
  padding-right: 63px;
  line-height: 21px;
}

.list-features345 h2 {
  margin-bottom: 25px;
}

.list-features345 p {
  line-height: 21px;
}

.interest-section {
  margin-top: 95px;
}

.interest-section .features { /*"Укажите предполагаемые...." главная*/
  line-height: 24px;
  margin: 0;
  margin-bottom: 45px;
}

.field-max-min {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-right: 1px;
}

.web-html {
  display: flex;
  margin-left: 102px;
}

.home::before {/*Домик*/
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  margin-top: 3px;
}

.food::before {/*Бургер*/
  content: "";
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  margin-top: 3px;
}

.suvenirs::before {/*Подарок*/
  content: "";
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
 
}

.list-features345:nth-child(1n) p {
  padding-left: 95px;
  padding-right: 97px;
}

.list-features345:nth-child(2n) p {
  padding-left: 65px;
  padding-right: 66px;
}

.list-features345:last-child p {
  padding-left: 68px;
  padding-right: 77px;
}



/*@keyframes no-no {
  0% {
	  box-shadow: 0 0 20px rgba(200, 50, 50, 0.2);
	}
	50% {
	  box-shadow: 0 0 20px rgba(200, 50, 50, 0.9);
	}
	100% {
	  box-shadow: 0 0 20px rgba(200, 50, 50, 0.2);
	}


.error {
  animation-name: no-no;
  animation-duration: 1s;
}
*/
/** {
  border: #000000 solid 1px;
}*/
