body {
  /*Текст*/
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;

  /*Фон*/
  background-color: #ffffff;
  margin-left: 40px;
  margin-right: 40px;
  min-width: 1200px;
}

.navigation {
  /*Текст*/
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  letter-spacing: normal;

  /*Фон*/
  list-style: none;
}

.nav-item-current {
  color: #766357;
  text-decoration: none;
}
.nav-item:not(.nav-item-current) {
  text-decoration: none;
  color: #000000;
}

.nav-item:hover:not(.nav-item-current) {
  color: #81b3d2;
}

.nav-item:active:not(.nav-item-current) {
  color: rgba(0, 0, 0, 0.3);
}

.features {
  /*Текст*/
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.features-blue {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.thesis {
  /*Текст*/
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.bluestyle {
  /*Текст*/
  color: #ffffff;

  /*Фон*/
  background-color: #81b3d2;
}

.list-features {
  list-style: none;
}

.find-title {
  /*Текст*/
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;

  /*Фон*/
  background-color: #766357;
}

.find-title:hover {
  background-color: #604e43;
}

.find-title:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.find {
  /*Текст*/
  font-size: 21px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;

  /*Фон*/
  background-color: #81b3d2;
}

.find:hover {
  background-color: #669ec0;
}

.find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.find-hotel:not(.find) {
  font-size: 14px;
  font-weight: bold;
}

.intrest {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.book {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.detail {
  /*Текст*/
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;

  /*Фон*/
  background-color: #81b3d2;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filters {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position-y: -250px;

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.filters button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.name-hotel {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-align: left;
}

.name-hotel:link {
  color: #766357;
}

.name-hotel:hover {
  color: #81b3d2;
}

.name-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.we-find {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.sort {
  list-style: none;
}

.sort-title {
  font-size: 12px;
}

.sort a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: dotted;
}

.sort a:visited {
  border-bottom: none;
  color: #81b3d2;
}

.sort a:hover {
  color: #81b3d2;
}

.sort a:active {
  border-bottom: none;
  color: #000000;
}

.star1::after {
  position: absolute;
  content: "";
  width: 72px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  background-repeat: repeat-x;
}

.star2::after {
  position: absolute;
  content: "";
  width: 54px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  background-repeat: repeat-x;
}

.star3::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  background-repeat: repeat-x;
}

.media {
  /*Фон*/
  background-color: #81b3d2;
}

.media:hover {
  background-color: #669ec0;
}

.media:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.media:active img {
  opacity: 0.5;
}
/*
.down {
  background-image: url("../img/icon-down-dir.svg");
  width: 11px;
  height: 10px;
}

.up {
  background-image: url("../img/icon-up-dir.svg");
  width: 11px;
  height: 10px;
}
*/
.choice-hotel {
  list-style: none;
}

.media-items {
  list-style: none;
}

.little-goods {
  list-style: none;
  background-color: #ffffff;
  color: #333333;
  font-size: 12px;
}

.little-goods h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.field {
  background-color: #f2f2f2;
}

.field:hover {
  background-color: #ebebeb;
}

.field:focus {
  background-color: #ffffff;
}

.list-features {
  counter-reset: heading;
}

.feature-title::before {
  counter-increment: heading;
  content: "-№" counter(heading) "-";
}

/*СЕТКИ*/
html {
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 1200px;
  margin: 0;
  padding: 0;
 }

.navigation {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.head-navigavion {
  padding: 0;
  margin: 0;
}

.navigation {
  margin-left: 72px;
  margin-right: 72px;
}
.navigation li {
  width: 239px;
 
}

.navigation li:first {
  text-align: left;
}

.navigation li:nth-child(2) {
  margin-right: 98px;
  text-align: left;
}

.navigation li:nth-child(3) {
  text-align: right;
}

.navigation li:last-child {
  text-align: right;
}

.backphoto img {
  margin-top: 76px;
  margin-left: 370px;
  margin-right: 370px;
  margin-bottom: 62px;
}
.backphoto {
  width: 1200px;
  background-image: url(../img/background-photo.jpg);
}

.list-features {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.list-features1 div:first-child {
  display: flex;
}


.little-goods {
  display: flex;
  margin: 0;
  padding: 0;
}
 .little-goods li {
   text-align: center;
 }

.bluestyle {
  display: flex;
  flex-direction: column;
}
.list-features2 {
  display: flex;
}


/**{border: #000000 solid 1px;}*/
  


.find-hotel {
  width: 568px;
  padding: 0;
}

.find-hotel-form {
  display: flex;

  flex-wrap: wrap;
}

.find-hotel-form div {
  display: flex;
}

.footer {
  display: flex;
  width: 1200px;
  justify-content: center;
  align-items: baseline;
}

.media-items li {
  width: 36px;
}

.media-items {
  display: flex;
  align-items: baseline;
}

/*сетка каталог*/

.filters {
  display: flex;
  width: 1200px;
  align-items: flex-start;
}

.filters fieldset {
  margin-top: 60px;
  margin-bottom: 60px;
 
}

.filters fieldset:nth-child(2) {
  margin-right: 244px;
  
}

.filters fieldset:first-child {
  margin-left: 72px;
}


.sort-find {
  display: flex;
  align-items: baseline;
  margin-left: 72px;
}

.sort {
  display: flex;
  align-items: baseline;
}

.sort li:nth-child(2) {
  margin-right: 33px;
  margin-left: 33px;
}
.hotel {
  display: flex;
  width: 1200;
  
}

.hotel:nth-child(2) {
  margin-top: 61px;
  margin-bottom: 61px;
}

.hotel:first-child {
  margin-top: 66px;

}

.choice-hotel {
  width: 1200px;
  padding:0;
  margin:0;
}

.filters {
  padding:0;
  margin:0;
}

.hotel-detail {
  display: flex;
  flex-direction: column;
}

fieldset {
  border:0 none;
}

